.Brands{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crausel-container{
    width: 80%;
    height: 70dvh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background: rgb(41, 41, 41); */
    border-radius: 20px;
    overflow: hidden;
}
.crausel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(41, 41, 41);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    transition:'0.5s'

}
.crausel-shoe-detail{
    width: 40%;
    height: 80%;
    padding: 10px;
    color: white;
    position: relative;
    
    h1{
        font-size: 5vw;
        margin: 0;
    }
    p{
        font-size: 2vw;
        margin: 0;
    }
    span{
        font-size: 5vw;
        margin: 0;
        position: absolute;
        bottom: 0;
    }
}
.crousel-shoe-img{
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    .crousel-cir{
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.533);
        position: absolute;
        filter: blur(60px);
    }

img{
    width: 90%;
    height: 90%;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* border:white solid; */
    background: transparent;
    z-index: 2;
}
}
@media screen and (max-width:700px) {
    .crausel-container{
        height: 50dvh;
    }
    .crausel{
        flex-direction: column;    
        position: relative;
        height: 50dvh;
    }
    .crousel-shoe-img{
        width: 100%;
        position: absolute;
        top: 0;
        /* border:  red solid; */
        height: 50%;
    }
    .crausel-shoe-detail{
        width: 80%;
        /* border: 1px solid white; */
        height: 20dvh;
        position: absolute;
        bottom: 0;

        span{
            /* position: relative; */
            padding: 10px 0;
        }
    }
}