.genderShoes{
    width: 100%;
    height: 100dvh;
}
.genderShoes h3{
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 6vh;
    font-family: "Bonheur Royale", cursive;
  font-weight: 100;
  font-style: normal;
}
.genders{
    width: 100%;
    height: 20dvh;
/* border: black solid; */
display: flex;

}
.genders-div{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.genders-div img{
    width: 100%;
    height: 80%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.genders-div h1{
    margin: 0;
    font-size: 3vh;
}
.shoe-category{
    width: 100%;
    height: 40dvh;
    border: black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
.category{
    width: 80%;
    height: 35dvh;
    /* border: black solid; */
    border-radius: 2rem;
    position: relative;
}
.category h2{
    margin: 0;
    font-size: 6vh;
    z-index: 2;
    color: white;
text-align: center;
    bottom: 30px;
    position: absolute;

}
.category img{
    z-index: -1;
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}